<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel Victime print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="إلغاء" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="إلغاء" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							إضافة			</a>
</span>
{END inlineadd_link}
			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$victime_CIN_class}
			"

			data-field="victime_CIN"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN victime_CIN_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="victime_CIN">
	{$label Victime victime_CIN }	</span>
{END victime_CIN_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nom_victime_class}
			"

			data-field="Nom_victime"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nom_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nom_victime">
	{$label Victime Nom_victime }	</span>
{END Nom_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Adresse_victime_class}
			"

			data-field="Adresse_victime"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Adresse_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Adresse_victime">
	{$label Victime Adresse_victime }	</span>
{END Adresse_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Tel_victime_class}
			"

			data-field="Tel_victime"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Tel_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Tel_victime">
	{$label Victime Tel_victime }	</span>
{END Tel_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Age_victime_class}
			"

			data-field="Age_victime"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Age_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Age_victime">
	{$label Victime Age_victime }	</span>
{END Age_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Region_victime_class}
			"

			data-field="Region_victime"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Region_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Region_victime">
	{$label Victime Region_victime }	</span>
{END Region_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$TypeHabitation_victime_class}
			"

			data-field="TypeHabitation_victime"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TypeHabitation_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TypeHabitation_victime">
	{$label Victime TypeHabitation_victime }	</span>
{END TypeHabitation_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$NivScolaire_victime_class}
			"

			data-field="NivScolaire_victime"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NivScolaire_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NivScolaire_victime">
	{$label Victime NivScolaire_victime }	</span>
{END NivScolaire_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$ActivitePro_victime_class}
			"

			data-field="ActivitePro_victime"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ActivitePro_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ActivitePro_victime">
	{$label Victime ActivitePro_victime }	</span>
{END ActivitePro_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$EtatCivil_victime_class}
			"

			data-field="EtatCivil_victime"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN EtatCivil_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="EtatCivil_victime">
	{$label Victime EtatCivil_victime }	</span>
{END EtatCivil_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$VictDate_marriage_class}
			"

			data-field="VictDate_marriage"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VictDate_marriage_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VictDate_marriage">
	{$label Victime VictDate_marriage }	</span>
{END VictDate_marriage_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$Periode_marriage_class}
			"

			data-field="Periode_marriage"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Periode_marriage_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Periode_marriage">
	{$label Victime Periode_marriage }	</span>
{END Periode_marriage_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$Date_divorce_class}
			"

			data-field="Date_divorce"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Date_divorce_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Date_divorce">
	{$label Victime Date_divorce }	</span>
{END Date_divorce_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$Type_divorce_class}
			"

			data-field="Type_divorce"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Type_divorce_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Type_divorce">
	{$label Victime Type_divorce }	</span>
{END Type_divorce_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nbr_enfants_class}
			"

			data-field="Nbr_enfants"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nbr_enfants_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nbr_enfants">
	{$label Victime Nbr_enfants }	</span>
{END Nbr_enfants_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
				 
					{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$NbrEnfant_Gracon_class}
			"

			data-field="NbrEnfant_Gracon"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NbrEnfant_Gracon_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NbrEnfant_Gracon">
	{$label Victime NbrEnfant_Gracon }	</span>
{END NbrEnfant_Gracon_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
				 
					{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$NbrEnfant_Fille_class}
			"

			data-field="NbrEnfant_Fille"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NbrEnfant_Fille_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NbrEnfant_Fille">
	{$label Victime NbrEnfant_Fille }	</span>
{END NbrEnfant_Fille_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
				 
					{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert				{$Victime_ENceinte_class}
			"

			data-field="Victime_ENceinte"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Victime_ENceinte_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Victime_ENceinte">
	{$label Victime Victime_ENceinte }	</span>
{END Victime_ENceinte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
				 
					{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$Enfant_list_class}
			"

			data-field="Enfant_list"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Enfant_list_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Enfant_list">
	{$label Victime Enfant_list }	</span>
{END Enfant_list_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
				 
					{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$CouvSocial_victime_class}
			"

			data-field="CouvSocial_victime"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CouvSocial_victime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CouvSocial_victime">
	{$label Victime CouvSocial_victime }	</span>
{END CouvSocial_victime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$victime_CIN_class}
			"

			data-field="victime_CIN"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN victime_CIN_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="victime_CIN" data-default-width >
{$victime_CIN_value}
</span>
{END victime_CIN_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nom_victime_class}
			"

			data-field="Nom_victime"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nom_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nom_victime" data-default-width >
{$Nom_victime_value}
</span>
{END Nom_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Adresse_victime_class}
			"

			data-field="Adresse_victime"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Adresse_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Adresse_victime" data-default-width >
{$Adresse_victime_value}
</span>
{END Adresse_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Tel_victime_class}
			"

			data-field="Tel_victime"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Tel_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Tel_victime" data-default-width >
{$Tel_victime_value}
</span>
{END Tel_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Age_victime_class}
			"

			data-field="Age_victime"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Age_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Age_victime" data-default-width >
{$Age_victime_value}
</span>
{END Age_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Region_victime_class}
			"

			data-field="Region_victime"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Region_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Region_victime" data-default-width >
{$Region_victime_value}
</span>
{END Region_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$TypeHabitation_victime_class}
			"

			data-field="TypeHabitation_victime"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TypeHabitation_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TypeHabitation_victime" data-default-width >
{$TypeHabitation_victime_value}
</span>
{END TypeHabitation_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$NivScolaire_victime_class}
			"

			data-field="NivScolaire_victime"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NivScolaire_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NivScolaire_victime" data-default-width >
{$NivScolaire_victime_value}
</span>
{END NivScolaire_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$ActivitePro_victime_class}
			"

			data-field="ActivitePro_victime"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ActivitePro_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ActivitePro_victime" data-default-width >
{$ActivitePro_victime_value}
</span>
{END ActivitePro_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$EtatCivil_victime_class}
			"

			data-field="EtatCivil_victime"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN EtatCivil_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="EtatCivil_victime" data-default-width >
{$EtatCivil_victime_value}
</span>
{END EtatCivil_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$VictDate_marriage_class}
			"

			data-field="VictDate_marriage"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VictDate_marriage_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VictDate_marriage" data-default-width >
{$VictDate_marriage_value}
</span>
{END VictDate_marriage_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$Periode_marriage_class}
			"

			data-field="Periode_marriage"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Periode_marriage_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Periode_marriage" data-default-width >
{$Periode_marriage_value}
</span>
{END Periode_marriage_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$Date_divorce_class}
			"

			data-field="Date_divorce"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Date_divorce_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Date_divorce" data-default-width >
{$Date_divorce_value}
</span>
{END Date_divorce_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$Type_divorce_class}
			"

			data-field="Type_divorce"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Type_divorce_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Type_divorce" data-default-width >
{$Type_divorce_value}
</span>
{END Type_divorce_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nbr_enfants_class}
			"

			data-field="Nbr_enfants"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nbr_enfants_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nbr_enfants" data-default-width >
{$Nbr_enfants_value}
</span>
{END Nbr_enfants_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
				 
					{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$NbrEnfant_Gracon_class}
			"

			data-field="NbrEnfant_Gracon"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NbrEnfant_Gracon_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NbrEnfant_Gracon" data-default-width >
{$NbrEnfant_Gracon_value}
</span>
{END NbrEnfant_Gracon_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
				 
					{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$NbrEnfant_Fille_class}
			"

			data-field="NbrEnfant_Fille"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NbrEnfant_Fille_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NbrEnfant_Fille" data-default-width >
{$NbrEnfant_Fille_value}
</span>
{END NbrEnfant_Fille_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
				 
					{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert				{$Victime_ENceinte_class}
			"

			data-field="Victime_ENceinte"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Victime_ENceinte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Victime_ENceinte" data-default-width >
{$Victime_ENceinte_value}
</span>
{END Victime_ENceinte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
				 
					{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$Enfant_list_class}
			"

			data-field="Enfant_list"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Enfant_list_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Enfant_list" data-default-width >
{$Enfant_list_value}
</span>
{END Enfant_list_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
				 
					{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$CouvSocial_victime_class}
			"

			data-field="CouvSocial_victime"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CouvSocial_victime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CouvSocial_victime" data-default-width >
{$CouvSocial_victime_value}
</span>
{END CouvSocial_victime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
							</tr>
					 
					
											</tbody>
					{END grid_row}
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
				 
					{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
				 
					{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
				 
					{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
				 
					{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
				 
					{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="victime_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
